<%- include layouts/header.ejs %>


<br>
<br>
<div class="container fondop">
  <section class='row'>
    <article class="col-xs-12 col-sm-3 col-md-3">
      <img style='width: 200px' src="http://www.utp.ac.pa/documentos/2015/imagen/logo_utp_1_72.png" alt="utp_logo">
    </article>
    <article class="col-xs-12 col-sm-6 col-md-6">
      <img style='width: 540px;height: 180px ;border: 1px solid rgb(255, 255, 255); border-radius: 5px', src="http://humanenconsulting.com/wp-content/uploads/2014/04/contabilidad.jpg" alt="contabilidad">
    </article>
    <article class="col-xs-12 col-sm-3 col-md-3">
      <img style='width: 200px' src="http://www.fisc.utp.ac.pa/sites/fisc.utp.ac.pa/files/imagecache/image_big/documentos/2012/imagen/logofisc.png" alt="FISC_logo">
    </article>
  </section>
  <br>
  <div class="row fondo">
    <div class="col-xs-12 col-sm-6 col-md-4 div1 color1">
      <header class="header1">
        Roderick Romero
      </header>
      <p>Edad: 20</p>
      <p>Cedula: 8-910-498</p>
      <p>Fecha de Nacimiento: 21/9/1996</p>
      <p>Correo: rjrr507@gmail.com</p>
      <p>Celular: 6593-2892</p>
      <h4>Descripcion</h4>
      <p>
        encargado del backend-developer de proyecto de contabilidad el cual es el proyecto final a presentar el dia lunes
      </p>
      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 div1 color1">
      <header class="header1">
        Luis
      </header>
      <p>Edad: xx</p>
      <p>Edad: desconocida</p>
      <p>Cedula: x-xxx-xxxx</p>
      <p>Fecha de Nacimiento: xx-xxx-xxxx</p>
      <p>Correo: xxxxxxxx@gmail.com</p>
      <p>Celular: 6xxx-xxxx</p>
      <h4>Descripcion</h4>
      <p>
        encargado principal del la organizacion del trabajo en equipo y del backend-developer de proyecto de contabilidad el cual es el proyecto final a presentar el dia lunes.
      </p>
    </div>

    <div class="div3 col-xs-12 col-sm-6 col-md-4 ">
      <img style="width: 300px;height: 335px", src="http://eduardo-aparicio-cardenes.website/images/backend-developer.png" alt="backend-developer">
    </div>
  </div>

  <br>
  <div class="row fondo">
    <div class="div3 col-xs-12 col-sm-6 col-md-4">
      <img style="width: 300px;height: 305px", src="http://frontenddesignconference.com/_site/public/images/front-end-dan.svg">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 div1 color1">
      <header class="header2">
        Adrian
      </header>
      <p>Edad: 23</p>
      <p>Cedula: 8-867-2080</p>
      <p>Fecha de Nacimiento:  14 de enero de 1993</p>
      <p>Correo: chichodiaz35@hotmail.com</p>
      <p>Celular: 6778-0841</p>
      <h4>Descripcion</h4>
      <p>
      Encargado de front-end en el pagina web del proyecto de contabilidad aplicando su conocimiento de diseno. Tambien formo parte del backend-developer de la pagina web.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 div1 color1">
      <header class="header2">
        Jean Carlos
      </header>
      <p>Edad: 20</p>
      <p>Cedula: 8-906-2285</p>
      <p>Fecha de Nacimiento: 10-Junio-1996</p>
      <p>Correo: jeanksousa65@gmail.com</p>
      <p>Celular: 6760-8510</p>
      <h4>Descripcion</h4>
      <p>
        Segundo Encargado del front-end de la pagina aplicando su conocimiento en formulario, tablas y presentacion. Aplicando su conocimiento en diseno usando bootstrap.
      </p>
    </div>
  </div>
  <br>
  <div class="row fondo2">
    <div class="color1 col-sm-6 col-md-2">
    </div>
    <div class="div1 color1 col-xs-12 col-sm-6 col-md-4">
      <header class="header3">
        Richard Gonzalez
      </header>
      <p>Edad: xx</p>
      <p>Cedula: 20-70-3623</p>
      <p>Fecha de Nacimiento: xx-xxx-xxxx</p>
      <p>Correo: xxxxxxxx@gmail.com</p>
      <p>Celular: 6xxx-xxxx</p>
      <h4>Descripcion</h4>
      <p>
        Encargado de los de la parte contable y del los calculos. Formo parte del diseno web de la pagina y de dar aportes a los del backend-developer.
      </p>
      <br>
      <br>
      <br>
    </div>
    <div class="div3 col-xs-12 col-sm-6 col-md-4">
      <img style="width: 270px;height: 350px", src="http://imagenpng.com/wp-content/uploads/2015/06/Imagen4.png" alt="Contador" />
    </div>
  </div>
</div>
