<%- include layouts/header.ejs %>

<br>
<br>
<div class="container fondop">
  <br>
  <section class='row'>
    <article class="col-xs-12 col-sm-3 col-md-3">
      <img style='width: 200px' src="http://www.utp.ac.pa/documentos/2015/imagen/logo_utp_1_72.png" alt="utp_logo">
    </article>
    <div class="col-xs-12 col-sm-6 col-md-6 comisiones">
      <br>
      <h1>Planilla por comisiones</h1>
      <br>
    </div>
    <article class="col-xs-12 col-sm-3 col-md-3">
      <img style='width: 200px' src="http://www.fisc.utp.ac.pa/sites/fisc.utp.ac.pa/files/imagecache/image_big/documentos/2012/imagen/logofisc.png" alt="FISC_logo">
    </article>
  </section>

  <br>
  <div class="row fondo">
    <div class="col-xs-12 col-sm-6 col-md-8 div1 color1">
      <header class="header1">
        Que son la comisiones?
      </header>
      <br>
      <img style='width: 500px' src="C:\Users\jeank\proyecto\proyecto\proyecto\views\Captura.PNG" alt="planilla" />
      <br>
      <br>
      <p>Las comisiones sobre las ventas se pagan a los empleados o empresas que venden mercaderías en negocios o llamando a los clientes. El objetivo de la comisión es motivar a los agentes de ventas a vender más. Una comisión se puede pagar además del sueldo o en lugar del sueldo. Un mercado donde habitualmente se pagan comisiones es el Mercado de los Bienes Raíces.</p>

      <br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <header class="header2">
        Objetivo
      </header>
      <p>
        presentar mediante el diseno de esta pagina web, las comisiones que se pagan en una empresas.
      </p>
      <br>
      <img style='width: 400px; float: center' src="https://userscontent2.emaze.com/images/41b686e3-0e0e-4284-9bb2-c0e37f870971/8dca0a87f6598a3e8c0b88c191cf9651.png" alt="" />
    </div>
  </div>
<br>

<footer>
  Esta pagina recerba los derechos del autor y de lo colaboradores. Cualquier considencia con otra pagina es casualidad o nos la transaron
</footer>
</div>
